.due-date {
    color: #aaa;
    font-style: oblique;
}

.priority-1 {
    color: #F3D600;
}

.priority-2 {
    color: #FFAB49;
}

.priority-3 {
    color: #EB5A45;
}

.done {
    color: #bbb;
    text-decoration: line-through;
}